html, body
{
  height: 100%;
  margin: 0;
  padding: 0;
}
body{
	background-image: url("../images/bananas.png");
	font-family: 'Tangerine', cursive;
}

}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
h1{
	font-size: 5em;
	text-align: center;
}
#hangmanWord{
	text-align: center;
}
.jumbotron{
	background-color: lightyellow;
	width: 80%;
	margin: auto;

}
header{
	height: 250px;
}
h2,p{
	font-size: 3em;
	white-space: pre-line;
}